footer {
  padding: 4.5em 2em;
  text-align: center;
}

.footer-social-icons{
  @include container($max-width: 20em);
  display: flex;
  justify-content: center;
  margin: 1.75em auto 4em;

  a {
    box-sizing: border-box;
    padding: 0 .5em;
    width: 27.5%;
    height: 27.5%;
    object-fit: contain;

    img{
      transition: opacity ease-in-out 250ms;
      &:hover{
        opacity: 0.75;
      }
    }

  }

}

.footer-copyright {
  &::before{
    content: '';
    display: block;
    height: 1px;
    background: rgba($accent, .6);
    width: 20%;
    margin: 0 auto 4em;
  }

  font-family: $ff-ss-n;
  font-weight: $fw-b;
  letter-spacing: 0.172em;
  color: rgba($grey, .84);
}
