.nav-open-button{
  cursor: pointer;
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 99;
  background: transparent;
  border: 0;
  padding: .5em;
}

.nav-open-icon{
  width: 10vw;
  max-width: 3em;
}


.nav-close-button{
  position: absolute;
  background: transparent;
  border: 0;
  top: .5em;
  right: .5em;
  cursor: pointer;
  transition: opacity ease-in-out 250ms;

  &:hover,
  &:focus{
    opacity: .8;
  }
}

.nav-close-icon{
  width: 8vw;
  max-width: 3em;
}

nav{
  height: 80vh;
  width: 70vw;
  max-width: 20em;
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  border-radius: 0 2em 2em 0;
  background-color: $dark-blue;
  box-shadow: 5px 5px 20px rgba($grey, .5);

  // Turn off menu in extremely short viewports
  @media (max-height: 35em){
    display: none;
  }

  //Nav action
  transform: translateX(-110%);
  transition: transform ease-out 250ms;
}

.nav-img-container{
  height: 20vh;
  border-radius: 0 2em 0 0;
  background-image: url("../img/nav-img.jpg");
  background-size: cover;
  background-position: top -100px;
}

nav ul {
  height: 60vh;
  width: 70%;
  margin: 0 auto;
  padding: 2em 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.nav-link{
  padding: 1em;
  display: flex;
  align-items: center;

  font-family: $ff-ss;
  font-weight: $fw-b;
  color: $white;
  font-size: 1.1rem;

  transition: opacity ease-in-out 125ms;

  @include mq {
    font-size: 1.25rem;
  }

  &:hover,
  &:focus{
    opacity: 0.7;
    color: $white;
  }
}

.nav-icon{
  width: 6vw;
  max-width: 2em;
  margin-right: 1em;
}


//Nav action
.nav-is-open{
  nav{
    transform: translateX(0);
  }

  .nav-open-button{
    opacity: .5;
  }
}
