@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,400i,700');

$ff-ss: 'PT Sans', sans-serif;
$ff-ss-n: 'PT Sans Narrow', sans-serif;

$fw-n: 400;
$fw-b: 700;
$fw-i: 400i;
